<template>
  <v-btn @click="emit('@click')" class="ma-2" :color="props.color">
    {{ props.text }}
    <v-icon props.iconPosition :icon="props.icon"></v-icon>
  </v-btn>
</template>
<script lang="ts" setup>

const props = defineProps<{
  color: string
  icon: string
  text: string
  iconPosition: string
}>()
const emit = defineEmits<{ (e: '@click'): void }>()

</script>
<style scoped>
:deep(.v-btn__content) {
  text-transform: capitalize;
  letter-spacing: 0;
}
</style>