
<template>
  <v-checkbox v-model="model" :color="model ? 'grey' : 'primary'" :disabled="dataFilter === 'Deleted Task'">
    <template v-slot:label>
      <div :class="model ? 'text-grey text-decoration-line-through' : 'text-primary'" class="ms-4">{{ props.text }}</div>
    </template>
  </v-checkbox>
</template>

<script lang="ts" setup>

import { computed } from 'vue'
import { useTodo } from "@/stores/todo"
import { storeToRefs } from 'pinia';

const { dataFilter } = storeToRefs(useTodo())

const props = defineProps<{
  modelValue: boolean
  text: string
}>()

const emit = defineEmits<{ (e: 'update:modelValue', val: boolean): boolean }>()


const model = computed<boolean>({
  get() {
    return props.modelValue
  },
  set(val) {
    emit("update:modelValue", val)

  }
})

</script>