<template>
    <v-chip
      class="ma-2"
      :color="props.color"
      label
      :text-color="props.textColor"
    >
      <v-icon start :icon=props.icon></v-icon>
      {{ props.text }}
    </v-chip>
</template>

<script lang="ts" setup>

const props = defineProps<{
    icon:string
    color:string
    textColor:string
    text:string
}>()
</script>