<template>
  <v-fade-transition>
    <v-btn :icon="props?.iconName" :variant="props.variant" :color="props.color" @click="create">
    </v-btn>
  </v-fade-transition>
</template>

<script lang="ts" setup>

const props = defineProps<{
  inputBtn: string
  iconName: string
  variant: string
  color: string
}>();

const emit = defineEmits<{ (e: '@createBtn'): void }>()


const create = (): void => {
  if (props.inputBtn !== "") {
    emit("@createBtn")
  }
}

</script>