<template>
  <v-text-field v-model="model" :label="props.label" variant="solo" @keydown.enter="submit">
    <template v-slot:append>
      <slot name="icon" :item="model"></slot>
    </template>

  </v-text-field>
</template>

<script lang="ts" setup>

import { computed } from 'vue'

const props = defineProps<{
  label: string,
  modelValue: string
}>()

const emit = defineEmits<{
  (e: 'update:modelValue', val: string): string
  (e: '@onEnter'): void
}>()


const model = computed<string>({
  get() {
    return props.modelValue
  },
  set(val) {
    emit("update:modelValue", val)
  }
})

const submit = (): void => {
  if (model.value.length > 0) {
    emit('@onEnter')
  }
}
</script>