<template>
  <div class="d-flex justify-space-around">
    <v-menu>

      <template v-slot:activator="{ props }">
        <v-badge :content="badgeContent">
          <v-btn prepend-icon="mdi-filter-variant" v-bind="props">
            Filter Task
          </v-btn>
        </v-badge>
      </template>

      <v-list>
        <v-list-item v-for="(item, index) in props.items" :key="index" active-color="blue"
          @click="selectFilters(item.text)">
          <template v-slot:prepend>
            <v-icon :icon="item.icon"></v-icon>
          </template>
          <v-list-item-title color="#D0D5DD">
            {{ item?.text }}
          </v-list-item-title>
        </v-list-item>
      </v-list>

    </v-menu>
  </div>
</template>

<script lang="ts" setup>
import { ref } from 'vue'

interface Menu {
  text: string
  done: boolean
  icon: string
}

const badgeContent = ref<string>("All")
const emit = defineEmits<{ (e: '@selected', text: string): void }>()

const props = defineProps<{
  items: Menu[]
}>()

const selectFilters = (val: string) => {
  emit('@selected', val)
  badgeContent.value = val
}

</script>