<template>
    <div class="card__style">
        <Todo></Todo>
    </div>
</template>
<script lang="ts" setup>

import Todo from '@/components/organism/Todo.vue'
import { defineComponent } from 'vue';

defineComponent({
    components: { Todo }
})
</script>
<style scoped>
.card__style {

    padding: 20px;
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
</style>