<template>
    <AMenu :items="menuItems" @@selected="filtering" class="mb-6"></AMenu>
    <MInputWithBtnVue></MInputWithBtnVue>
    <MStatusBar></MStatusBar>
    <MCardTask v-for="(task, index) in filter" :key="`task-${index}`" :task="task" :taskText="task?.text" :index="index">
    </MCardTask>
    <h4 v-if="data.length < 1 && dataFilter !== 'Deleted Task'" class="mt-10">Please Insert A Todo...</h4>
    <h4 v-if="deletedData.length < 1 && dataFilter === 'Deleted Task'" class="mt-10">No Task Has Been Deleted...</h4>
</template>

<script lang="ts" setup>
import { defineComponent, computed, ref } from 'vue';
import MInputWithBtnVue from '@/components/molecules/MInputWithBtn.vue';
import MStatusBar from '@/components/molecules/MStatusBar.vue';
import MCardTask from '@/components/molecules/MCardTask.vue';
import AMenu from '@/components/atom/AMenu.vue'
import { useTodo } from '@/stores/todo'
import { storeToRefs } from 'pinia';


const { dataFilter, data, deletedData } = storeToRefs(useTodo())

defineComponent({
    components: {
        MInputWithBtnVue,
        MStatusBar,
        MCardTask,
        AMenu
    }
})

const filtering = (val: string) => {
    dataFilter.value = val
}

const menuItems = ref(
    [
        { text: 'All', done: true, icon: "mdi-menu" },
        { text: 'Task Done', done: true, icon: 'mdi-tooltip-check' },
        { text: 'Task Undone', done: false, icon: 'mdi-note-off' },
        { text: 'Deleted Task', done: false, icon: 'mdi-delete' }
    ]
)

const filter = computed(() => {
    return dataFilter.value === "All" ? data.value : dataFilter.value === "Task Done" ? data.value.filter((data: { done: boolean; }) => data.done === true) : dataFilter.value === "Task Undone" ? data.value.filter((data: { done: boolean; }) => data.done === false) : deletedData.value
})

</script>