<template>
  <v-card class="mb-2">
    <v-slide-y-transition class="py-0" group tag="v-list">
      <v-list-item>
        <v-list-item-action>
          <ACheckBox v-model="taskData" :text="props.taskText"></ACheckBox>

        </v-list-item-action>

        <v-spacer></v-spacer>

        <v-scroll-x-transition>
          <div v-if="taskData">

            <AChip color="success" text-color="black" icon="mdi-check" text="Done"></AChip>

            <AButtoWIcon v-if="dataFilter !== 'Deleted Task'" color="red-accent-2" text="delete" icon="mdi-delete-outline"
              iconPosition="end" @@click="deleteTask">
            </AButtoWIcon>
          </div>
        </v-scroll-x-transition>
      </v-list-item>
    </v-slide-y-transition>
  </v-card>
</template>

<script lang="ts" setup>

import { defineComponent, computed } from 'vue';
import ACheckBox from '@/components/atom/ACheckBox.vue';
import AChip from '@/components/atom/AChip.vue';
import AButtoWIcon from '@/components/atom/AButtoWIcon.vue';
import { useTodo } from "@/stores/todo"
import ITodo from '@/type/ITodo'
import { storeToRefs } from 'pinia';

const storeTodo = useTodo()

const { dataFilter } = storeToRefs(storeTodo)

defineComponent({
  components: {
    ACheckBox,
    AChip,
    AButtoWIcon
  }
})



const props = defineProps<{
  task: ITodo
  taskText: string
  index: number
}>()

const taskData = computed<boolean>({
  get() {
    return props.task.done
  },
  set(val) {
    props.task.done = val
  }
})

const deleteTask = (): void => {
  const index = storeTodo.data.findIndex((data: ITodo) => data.id === props.task.id) as number
  const isCheckTask = storeTodo.deletedData.find((task: ITodo) => task.id === props.task.id) as ITodo | undefined
  if (!isCheckTask) {
    storeTodo.deletedData.push(props.task)
  }
  storeTodo.data.splice(index, 1)
}
</script>