
<template>
    <Ainput v-model="newTask" :label="'what are you working for?'" @@onEnter="submit">
        <template #icon="slotProps">
            <AIconCreate v-if='slotProps?.item' @@createBtn="submit" :inputBtn="slotProps.item" iconName="mdi-plus-circle"
                variant="plain" color="grey-darken-1"></AIconCreate>
        </template>
    </Ainput>
</template>

<script lang="ts" setup>

import { defineComponent, ref } from 'vue';
import Ainput from '@/components/atom/Ainput.vue';
import AIconCreate from '@/components/atom/AIconCreate.vue';
import { useTodo } from '@/stores/todo.js'

defineComponent({
    components: {
        Ainput,
        AIconCreate
    }
})
const storeTodo = useTodo()

const newTask = ref<string>('')

const submit = (): void => {
    storeTodo.data.push({
        id: Math.floor(Math.random() * 100),
        done: false,
        text: newTask.value,
    })
    newTask.value = ''

}
</script>