<template>
    <h2 class="text-h4 text-success ps-4">
      Tasks:&nbsp;
      <v-fade-transition leave-absolute>
        <span :key="`tasks-${storeTodo.data.length}`">
          {{ storeTodo.data.length }}
        </span>
      </v-fade-transition>
    </h2>

    <v-divider class="mt-4"></v-divider>

    <v-row
      class="my-1"
      align="center"
    >
      <strong class="mx-4 text-info-darken-2">
        Remaining: {{ storeTodo.remainingTasks }}
      </strong>

      <v-divider vertical></v-divider>

      <strong class="mx-4 text-success-darken-2">
        Completed: {{ storeTodo.completedTasks }}
      </strong>

      <v-spacer></v-spacer>

      <v-progress-circular
        v-model="storeTodo.progress"
        class="me-2"
      ></v-progress-circular>
    </v-row>

    <v-divider class="mb-4"></v-divider>
</template>

<script lang="ts" setup> 

import {useTodo} from '@/stores/todo'

const storeTodo = useTodo()

</script>