<script lang="ts" setup>
import { defineComponent } from "vue"

import PageTodos from "@/components/pages/PageTodos.vue"

defineComponent({
  components: {
    PageTodos
  }
})
</script>


<template>
  <v-container style="max-width: 500px">
    <PageTodos></PageTodos>
  </v-container>
</template>

<style>
body {
  background-image: url("assets/sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center
}
</style>
